flask
MarkupSafe
flask-wtf
wtforms
flask-bootstrap
flask-sqlalchemy
flask-migrate
flask-script
xlrd==1.2.0
python-dotenv # to read the .env variables
flask-login
email_validator # The Email() validator from WTForms requires an external dependency to be installed
flask-mail
pyjwt
flask-moment # date and time
flask-babel # translation-I18n and L10n
langdetect # language identification
